@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

@import url('css/cartcss.css');
@import url('css/modalcss.css');
@import url('css/ordercss.css');
@import url('css/catalogcss.css');
@import url('css/productcss.css');

@media only screen and (max-width: 500px) {
 
    .logo-title {
      display: flex;
      justify-content: center;
      font-size: 1em;
      font-weight: bolder;
      color: black;  }
}

/* GENERAL/GENERIC SETTINGS: >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
body, html {
  margin: 0;
  padding: 0;
}

a, a:link, a:hover, a:active {
  color: black;
  text-decoration: none;
}

/* OVERALL APP SETTINGS: >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* >>>>>>>>>>>> LOGIN SCREEN SETTINGS ------------------------------------- */

.login-container {
display: flex;
flex-direction: column;
text-align: center;

}

.login-tabs-group {
  display: flex;
  justify-content: space-between;
}

.login-tab, .login-tab-register, .login-tab-right {
  color: #fff;
  background-color: #000000;
  width: 50%;
}

.login-tab-register {
  background-color: #595959;
}

.login-tab-right {
  text-align: right;
  padding-right: 10px;
}

.login-tab-divider {
  color: #000000;
  background-color: #d9d9d9;
  width: 100%;
  padding: 2%;
  margin-bottom: 8%;
  
}

.form {
  text-align: center;
  margin: 2%;
}

.form input {
  width: 80%;
  height: 40px;
  margin-bottom: 5%;
  font-size: 1.5em;
  color: #ccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  border:0 ;
  background-color: #f2f2f2;
  border-radius: 2px;
}


.msg {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #bf4040;
}

.msg h3{
  color: #bf4040;
}

.msg h2{
  color: goldenrod;
}


.login-btn-container {
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
  text-align: center;
  
}

.login-btn {
  width: 40%;
  background-color: #000000;
  color: #fff;
  border: 0;
  border-radius: 2px;
}

.login-btn:hover {
  background-color: darkgoldenrod;
  color: #fff;
}

/* >>>>>>>>>>>> HEADER CONTENT SETTINGS ------------------------------------- */
.App-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
  margin: 0;  
/*     background-color: #ffffff; */
    color: #000000;
    
  }

.logo-title {
  display: flex;
  margin-left: 10px;
  font-size: 1em;
  font-weight: bolder;
  color: black;
  border-bottom: 2px black solid;
  
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 10px;
  padding-bottom: 5px;
    background-color: #ffffff;
    color: gray;    
    
  }

/* HEADER ---- NAVIGATION .................*/
.navigation {
  display: flex;
  margin: 0;
  padding: 0;
  
}

  ul.navs, ul.navs-narrow {
    display: flex;
    list-style: none;
    width: 30rem;
    padding: 0;
  }

  
  ul.navs li {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
  }

  ul.navs li:hover {
    color: darkgoldenrod;
    cursor: pointer;
  }

  /* FOR SMALL SCREEN ________________________ */
  .nav-narrow-container {
    position: relative;
    width: 10rem;
    text-align: center;
  }

  .nav-narrow-container span {
font-size: 20px;
color: #000000;
  }
  .navs-narrow {
    display: none;
    vertical-align: center;
    position: fixed;
    left: auto;
    right: auto;
    top: 30px;
    width: 25%;
    margin: 0;
    padding: 0;
    background-color: #fff; 
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #ccc;
  }

  .nav-narrow-container i {
    float: center;
    cursor: pointer;
    color: #FFF;
  }

  .navs-narrow ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      width: 100%; 
  }

  ul.navs-narrow {
    display: block;
  }

  ul.navs-narrow li {
    font-size: 10px;
    margin: 1px;
    font-weight: bold;
    width: 100%;
    
  }


  /*HEADER ---- CART & USER ICONS .............................*/

.account-icons {
  display: flex;
  align-items: center;
}

.cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  vertical-align: top;
  max-width: 100%;
  background-color: #ffffff;  
  color: #000000;
  font-size: 1em;
  font-weight: bold;
  border: 0;
  cursor: pointer;
}

.cart:hover {
color: darkgoldenrod;
}

.account-icon-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.logged-in-menu {
  display: flex;
flex-direction: row; 
width: 100%;
}

.logout {
  flex-direction: column;
}

.user-menu {
  display: flex;
  align-items: baseline;
  position: relative;
  cursor: pointer;
  font-size: 10pt;
  margin-right: 5px;
  order: 0;
}

.user-menu-sub {
  display: none;
  vertical-align: center;
  position: absolute;
  left: 0px;
  top: 22px;
  margin: 0;
  padding: 0;
  width: 10rem;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  text-align: center;
  font-style: italic;
  color: #666666;
  cursor: pointer;
  order: 0;
}

.user-menu:hover, .user-menu-sub:hover {
  color: darkgoldenrod;
}

/* BLACK DIVIDER ................................... */
.divider {
    width: 100%;
    height: 10px;
    margin: 0;
    padding: 0;
    background-color: #000000;
    border-top: 1px solid #000000;
/*     background-image: url('./images/brushsteel2.jpg'); */
    box-shadow: 2px 2px 4px #000000;
    
  }

/* >>>>>>>>>>>> FOOTER ------------------------------------- */
.footer {
  display: flex;
  justify-content: flex-end;
  border: 1px solid #000000;
  width: 100%;
  height: 30px;
  color: #ffffff;
  font-size: 10px;
  background-color: #000000;
}

/* PAGINATION ---------------------------------------------------------------------------------- */
.pgs-outer, .pgs-inner, .pgs-active, a {
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: .3rem;
  margin: .2rem;
  font-size: 1.1em;
  font-weight: bolder;
  color: gray;
}

.pgs-nav {
  display: flex;
  justify-content: center;    /* needed */
  text-align: center;
  
}
.pgs-outer {
  display: flex;
  flex-direction: row;  
  justify-content: center;    /* needed */
  align-items: center;
  padding: 0;
  margin: 1rem;
}

.pgs-inner {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  padding-left: 25%;
}

.pgs-active {
  background-color: black;
  color: #fff;
}

.pgs-active a, .pgs-active a:link, .pgs-active a:visited, .pgs-active a:active, .pgs-active a:hover {
color: white;
font-weight: bold;
text-decoration: none;
}


.pgs-inner a, .pgs-inner a:link, .pgs-inner a:visited, .pgs-inner a:active, .pgs-inner a:hover {
  color: gray;
  font-weight: bold;
  text-decoration: none;
  }

  .pgs-inner:hover {
    background-color: #000000;
  }
